* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#header {
  height: 90px;
  background-color: lightgray;
  margin-bottom: 17px;
}

#main {
  height: 75vh;
}

#footer {
  height: 90px;
  background-color: lightgray;
  margin-top: 17px;
}

h1 {
  padding: 20px;
}

#first{
  width: 100%;
  height: 50%;
  background-color: #8cc63f;
}

#second {
  width: 100%;
  height: 25%;
  background-color: #0b9444;
}

#third {
  width: 100%;
  height: 25%;
  background-color: #f5ee31;
}

/* MOBILE FIRST */

@media screen and (min-width: 450px) {
  #main {
    display: flex;
    flex-wrap: wrap;
  }
  #first {
    height: 60%;
  }
  #second,
  #third {
    width: 50%;
    height: 40%;
  }
}

@media screen and (min-width: 768px) {
  #main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  #first {
    width: 50%;
    order: 2;
    height: 100%;
  }
  #second,
  #third {
    width: 25%;
    height: 100%;
  }
  #second {
    order: 1;
  }
  #third {
    order: 3;
  }
}
