* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#header {
  height: 90px;
  background-color: lightgray;
  margin-bottom: 17px;
}

#main {
  display: flex;
  height: 75vh;
}

#footer {
  height: 90px;
  background-color: lightgray;
  margin-top: 17px;
}

#a-b-container {
  height: 100%;
  width: 75%;
}

#first {
  height: 50%;
  background-color: red;
}

#second {
  height: 50%;
  background-color: orange;
}

#third {
  height: 100%;
  width: 25%;
  background-color: yellow;
}

.center-text {
  text-align: center;
}
@media screen and (max-width: 768px) {
  #first-second-container,
  #third {
    width: 50%;
  }
}

@media screen and (max-width: 450px) {
  #main {
    flex-direction: column;
    height: 75vh;
  }

  #first-second-container {
    width: 100vw;
    height: 66%;
  }

  #third {
    width: 100%;
    height: 33%;
  }
}
